#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  justify-content: space-between; /* left/right alignment */
  align-items: center;
  padding: 1rem 1rem;
  background-color: #88d4e7;
  color: white;
  position: sticky; /* stays at the top when scrolling */
  top: 0;
  /* width: 100%; */
  z-index: 1000;
}

.navbar-left h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: 500;
}

.navbar-right a:hover {
  text-decoration: underline;
}